
    <!-- Header -->
    <div class="relative flex items-center gap-x-3 pt-6 pr-4 pb-0 pl-6">
      <!-- Logo -->
      <img
        src="/images/logo/logo-icon.png"
        class="size-9 rounded-lg"
        alt="Soy Asesorias"
      />

      <div class="flex flex-col">
        <div
          class="text-on-surface text-lg leading-none font-bold tracking-wide"
        >
          Soy Asesorias
        </div>
        <div class="text-2xs leading-3 font-medium tracking-tight text-white/60">
          Gestión humana
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <navigation class="mt-8 mb-4 flex-auto" />

    <!-- Spacer -->
    <div class="flex-auto"></div>

    <!-- Footer -->
    <div class="p-2">
      <user />
    </div>
  